<p class="whiteify centerize main-text">Your answer: <%= @answer.answer %></p>
<p class="whiteify centerize main-text">Correct answer: <%= @question.correct_answer %></p>
<p class="whiteify centerize main-text">Full Spanish sentence: <%= @question.full_spanish_sentence %></p>
<p class="whiteify centerize main-text">English translation: <%= @question.english_sentence %></p>
<div class="row col-md-4 col-md-offset-4">
  <%= link_to "Next question", root_path, class: "btn btn-lg btn-success centerize" %>
</div>

