<p class="whiteify centerize main-text"><%= @question.spanish_sentence %> <strong>(<%= @question.verb.spanish %>)</strong></p>

<%= form_for VerbAnswer.new do |f| %>
  <p class="centerize main-text"><%= f.text_field :answer, autofocus: true %></p>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :verb_question_id, :value => @question.id %>
  <%= f.submit "Submit Answer", class: "btn btn-lg btn-success centerize" %>
<% end %>

<p class="whiteify centerize supporting-text"><%= @question.tense.titleize %> Tense</p>

<footer class="footer">
  <div class="container">
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
      aria-valuemin="0" aria-valuemax="100" style="width:<%= @verb_exam.percent_complete %>%">
        <%= @verb_exam.percent_complete %>% Complete
      </div>
    </div>

    <p class="whiteify centerize supporting-text">Progress goes up for correct answers and down for incorrect answers</p>
  </div>
</footer>

