<h2><%= @question.tense %> Tense</h2>
<h2>Sentence: <%= @question.spanish_sentence %> (<%= @question.verb %>)</h2>
<h2><%= @question.english_sentence %></h2>

<%= link_to "Next question", root_path %>
