<h1 class="whiteify centerize">You finished the exam!</h1>

<br />

<div class="container col-md-12">
  <div class="row">
  <% if @exam.steps_mastered.empty? %>
    <p class="whiteify centerize supporting-text">You need to learn the present tense first!  Once you master the present tense, you'll be able to communicate a lot!</p>
  <% else %>
    <p class="whiteify centerize supporting-text">You've demonstrated competency in the following tenses: <%= @exam.steps_mastered.join(", ") %></p>

    <br />

    <p class="whiteify centerize supporting-text">You need to study the <%= @exam.next_step %> tense next</p>

  <% end %>
  </div>

  <br />
  <br />

      <div class="row">

          <div class="col-lg-5 col-sm-6">
              <div class="clearfix"></div>
              <h2 class="section-heading whiteify">Learn from a native speaker</h2>
              <p class="lead whiteify">Liz is from Colombia, is fluent in English and Spanish and is an excellent tutor!  She can help you learn the <%= @exam.next_step %> tense and accelerate your learning.  <%= link_to "Click here", root_path(anchor: "contact") %> to contact Liz and learn how to speak Spanish fluently!</p>
          </div>

          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <%= image_tag "agency/team/liz2.jpg", class: "img-responsive", alt: "" %>
          </div>

      </div>
</div>


<br />
<br />

<div class="container col-md-12">
<% VerbLearningPath.all.each do |path| %>
  <div class="row">
    <p class="<%= @exam.step_mastered?(path) ? 'learning-path-mastered' : 'whiteify' %> col-md-2 col-md-offset-5"><%= path.tense %></p>
  </div>
<% end %>
</div>
