<h1 class="whiteify centerize">You finished the exam!</h1>

<br />

<% if @exam.steps_mastered.empty? %>
  <p class="whiteify centerize supporting-text">You need to learn the present tense first!  Once you master the present tense, you'll be able to communicate a lot!</p>
<% else %>
  <p class="whiteify centerize supporting-text">You've demonstrated competency in the following tenses: <%= @exam.steps_mastered.join(", ") %></p>

  <br />
  <br />

  <p class="whiteify centerize supporting-text">You need to study the <%= @exam.next_step %> tense next</p>

<% end %>


<br />
<br />

<p class="whiteify centerize supporting-text">Liz is from Colombia, is fluent in English and Spanish and is an excellent tutor!  She can help you learn the <%= @exam.next_step %> tense and accelerate your learning.  Click here to contact Liz and learn how to speak Spanish fluently!</p>

<br />
<br />

<% VerbLearningPath.all.each do |path| %>
  <div class="row">
    <p class="<%= @exam.step_mastered?(path) ? 'learning-path-mastered' : 'whiteify' %> col-md-2 col-md-offset-5"><%= path.tense %></p>
  </div>
<% end %>
