<div class="col-md-6 whiteify wrong-answer">
  <p class="main-text centerize"><%= @answer.user_answer %></p>
  <p class="supporting-text centerize">Your answer</p>
</div>

<div class="col-md-6 whiteify right-answer">
  <p class="main-text centerize"><%= @question.answer %></p>
  <p class="supporting-text centerize">Correct answer</p>
</div>

<br />

<p class="whiteify centerize main-text"><%= @question.spanish_sentence %></p>
<p class="whiteify centerize main-text"><%= @question.english %></p>

<div class="row col-md-4 col-md-offset-4">
  <%= link_to "Next question", next_question_path, class: "btn btn-lg btn-success centerize", id: "next-question" %>
</div>

<br />
<br />
<br />

<p class="supporting-text centerize whiteify">Hint: Press enter to move to the next question</p>
