<div class="row col-md-4 col-md-offset-4">

  <h3 class="whiteify centerize">Practice Nouns!</h3>

  <br />

  <%= form_for @noun_quiz do |f| %>
    <%= f.label :number_of_questions, "How many questions do you want to answer?", class: "whiteify" %>
    <%= f.number_field :number_of_questions, placeholder: "Number of Questions", class: "form-control" %><br />
    <%= f.label :number_of_nouns, "Of the 2,500 most common nouns, how many do you want to practice?", class: "whiteify" %>
    <%= f.number_field :number_of_nouns, placeholder: "Number of Verbs (any number from 1 to 2,500)", class: "form-control" %><br />
    <div class="actions">
      <%= f.submit "Start Exam", class: "btn btn-lg btn-success btn-block" %>
    </div>
  <% end %>

</div>

